<!DOCTYPE html>
<html>
    <head>
    
        <title>AI Diabetes prediction</title>    
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
        
    </head>
    
    <body>
        
        <h2>Please fill all the inputs</h2>
        
        <form action="{{ url_for('diabetes_prediction') }}" method="post">
            <label for="Pregnancies">Pregnancies:</label><br>
            <input type="text" id="Pregnancies" name="Pregnancies" placeholder="Enter number of Pregnancies in case of Female"><br>
            <label for="Glucose">Glucose:</label><br>
            <input type="text" id="Glucose" name="Glucose" placeholder="Enter Glucose level of Patient"><br>
            <label for="Blood Pressure">Blood Pressure:</label><br>
            <input type="text" id="Blood Pressure" name="Blood Pressure" placeholder="Enter BP of Patient"><br>
            <label for="Skin Thickness">Skin Thickness:</label><br>
            <input type="text" id="Skin Thickness" name="Skin Thickness" placeholder="Enter Skin Thickness of Patient"><br>
            <label for="Insulin">Insulin:</label><br>
            <input type="text" id="Insulin" name="Insulin" placeholder="Enter current Insulin level of Patient"><br>
            <label for="BMI">BMI:</label><br>
            <input type="text" id="BMI" name="BMI" placeholder="Enter BMI"><br>
            <label for="Diabetes Pedigree Function">Diabetes Pedigree Function:</label><br>
            <input type="text" id="Diabetes Pedigree Function" name="Diabetes Pedigree Function" placeholder="A score tell likehood of having Diabetes basd on family history"><br>
            <label for="Age">Age:</label><br>
            <input type="text" id="Age" name="Age" placeholder="Enter Age of Patient"><br><br><br>
            <input type="submit" value="Submit">
        </form>

       
    </body>
</html>